<% provide(:page_title, 'Matrices') %>

<% breadcrumb :matrices %>

<div class="btn-list text-right">
  <%= link_to 'Nova Matriz', new_admins_matrix_path, class: 'btn btn-primary'%>
</div>

<table class="table card-table table-vcenter text-nowrap">
  <thead>
    <tr>
      <th>name</th>
      <th>created_at </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matrices.each do |matrix| %>
      <tr>
        <td><%= matrix.name %></td>
        <td><%= matrix.created_at %></td>
        <td> 
          <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"> Gerenciar</button>
            <div class="dropdown-menu">
            <%= link_to ' Visualizar', admins_matrix_path(matrix), class: 'dropdown-item fe fe-maximize'%>
            <%= link_to ' Editar', edit_admins_matrix_path(matrix), class: 'dropdown-item fe fe-edit'%>
            <%= link_to ' Remover', [:admins, matrix], method: :delete,  data: { confirm: 'Are you sure?' } , class: 'dropdown-item fe fe-trash-2'%>
            </div>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>
<br   >

<div class="pagination pagination-sm no-margin pull-right">
<%= will_paginate @matrices, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>


