
<%= simple_form_for(:admins, @disciplines) do |f| %>

    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.input :hours %>
    <%= f.input :menu %>
    <%= f.association :matrix, label_method: :name, value_method: :id,
                                prompt: "Escolha a matriz" %>
    <%= f.association :period, label_method: :name, value_method: :id,
                                prompt: "Escolha o período" %>

  <div class="d-flex">
    <%= link_to "Voltar", admins_disciplines_path, class: 'btn btn-link' %>
    <%= f.button :submit %>
  </div>
<% end %>
